{% extends "base.html" %}

{% block title %}Mango - Developer Console{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=developer_index">
{% endblock %}

{% block content %}
    {% include "developer/dev_warning.html" %}
    <article>
        <p>This page is dedicated for developers of any website. Here you can manage how (and if) your site is visible on Mango.</p>
        <h2>Links</h2>
        <ul>
            <li><a href="/developer/request-website-indexing">Request website indexing</a></li>
            <li><a href="/developer/get-last-website-index-time">See when your website was last indexed</a></li>
        </ul>
    </article>
{% endblock %}