{% extends "base.html" %}

{% block title %}Mango Search{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=index_main">
{% endblock %}

{% block content %}
    <div class="index-center-wrapper">
        <div class="mango-name">
            <div class="letter" style="color: #4285F4;">M</div>
            <div class="letter" style="color: #EA4335;">a</div>
            <div class="letter" style="color: #FBBC05;">n</div>
            <div class="letter" style="color: #4285F4;">g</div>
            <div class="letter" style="color: #34A853;">o</div>
        </div>
        <div class="searchbox-wrapper">
            <div class="search-icon">
                <img src="/files/static/icons?file=search.png" alt="">
            </div>
            <div class="search-textarea-wrapper">
                <textarea></textarea>
            </div>
        </div>
    </div>
{% endblock %}