{% extends "base.html" %}

{% block title %}Mango Search{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=index_main">
{% endblock %}

{% block content %}
    <div class="index-center-wrapper">
        <div class="mango-name">
            Mango
        </div>
        <div class="searchbox-wrapper">
            <div class="search-icon"></div>
            <div class="search-textarea-wrapper">
                <textarea></textarea>
            </div>
        </div>
    </div>
{% endblock %}