{% extends "base.html" %}

{% block title %}{{ query }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=search_main">
{% endblock %}

{% block content %}
    <div class="navbar">
        <a href="/" class="title-navbar">
            {% include "mango_title.html" %}
        </a>
        {% include "searchbox.html" %}
        <script>
            document.querySelector("#search-form > div.search-textarea-wrapper > textarea").value = "{{ query }}"
        </script>
    </div>
    <hr class="nav-serparator">
    <article>
        {% for result in results %}
            <div class="result-wrapper">
                <a href="{{ result.url }}" class="result-title" target="_blank">{{ result.name }}</a>
                <div class="result-keywords">{{ result.keywords_str }}</div>
            </div>
        {% endfor %}
    </article>
{% endblock %}