{% extends "base.html" %}

{% block title %}{{ query }}{% endblock %}

{% block head %}
    <script>
        let query = "{{ query }}"
    </script>
    <link rel="stylesheet" href="/files/static/css?file=search_main">
{% endblock %}

{% block content %}
    <div class="navbar">
        <div class="title-navbar">
            <div class="letter" style="color: #D15728;">M</div>
            <div class="letter" style="color: #9B973E;">a</div>
            <div class="letter" style="color: #D3BE26;">n</div>
            <div class="letter" style="color: #DC9E15;">g</div>
            <div class="letter" style="color: #949633;">o</div>
        </div>
        {% include "searchbox.html" %}
    </div>
    <hr class="nav-serparator">
    <article>
        {% for result in results %}
            <div class="result-wrapper">
                <a href="{{ result.url }}" class="result-title" target="_blank">{{ result.title }}</a>
                <div class="result-keywords">{{ result.keywords }}</div>
            </div>
        {% endfor %}
    </article>
{% endblock %}