:root {
    --search-textarea-height: 2rem;
    --search-icon-around-margin: 10px;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.index-center-wrapper {
    width: max-content;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.mango-name {
    display: flex;
    gap: 0px;

    width: max-content;
    margin-left: auto;
    margin-right: auto;

    font-size: 5rem;
    font-weight: bold;

    margin-bottom: 20px;

    pointer-events: none;
}

.searchbox-wrapper {
    width: 50vw;
    height: fit-content;
    max-width: 600px;
    min-width: 200px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px rgb(201, 201, 201) solid;
    border-radius: 100px;

    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
}

@media screen and (max-width: 1000px) {
    .searchbox-wrapper {
        width: 80vw;
    }
}

.searchbox-wrapper .search-icon img {
    width: 20px;
    margin: var(--search-icon-around-margin) 0 var(--search-icon-around-margin) var(--search-icon-around-margin);
}

.search-textarea-wrapper {
    height: var(--search-textarea-height);
    width: 100%;
}

.search-textarea-wrapper textarea {
    height: var(--search-textarea-height);
    width: 100%;

    border: none;
    background-color: transparent;

    resize: none;

    overflow: hidden;
}

.search-textarea-wrapper textarea:focus {
    outline: none !important;
    border: none;
}