body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar {
    display: flex;

    margin-left: 10px;
    margin-right: 10px;

    align-items: center;
    justify-content: left;
    gap: 30px;
}

.navbar .title-navbar {
    display: flex;
    gap: 0px;

    width: max-content;

    font-size: 2rem;
    font-weight: bold;

    pointer-events: none;
}
