body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar {
    display: flex;

    margin: 10px 50px 10px 50px;

    align-items: center;
    justify-content: left;
    gap: 30px;
    flex-wrap: nowrap;
}

.navbar .title-navbar {
    text-decoration: none;

    width: max-content;

    pointer-events: all !important;
}

img.mango-main-title-image {
    width: 150px;
}

#search-form {
    width: 800px;
    max-width: none !important;
    min-width: 0px !important;
    margin: 0 !important;
}

.nav-serparator {
    margin-top: 0px !important;
}

article {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.result-wrapper {
    margin-bottom: 20px;
}

a.result-title {
    color: #1F11AF;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

a.result-title:hover {
    text-decoration: underline;
}

.result-keywords {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
    line-clamp: 2; /* Limits the text to 2 lines */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* adds "..." at the end */
    white-space: normal; /* Allows multi-line wrapping */
}


@media screen and (max-width: 600px) {
    .navbar {
        display: block;
        margin-top: 0px !important;
    }

    #search-form {
        width: 100%;
    }

    img.mango-main-title-image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
}