body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar {
    display: flex;

    margin: 10px 50px 10px 50px;

    align-items: center;
    justify-content: left;
    gap: 30px;
    flex-wrap: nowrap;
}

.navbar .title-navbar {
    display: flex;
    gap: 0px;

    width: max-content;

    font-size: 2rem;
    font-weight: bold;

    pointer-events: none;
}

#search-form {
    width: 800px;
    max-width: none !important;
    min-width: 0px !important;
    margin: 0 !important;
}

.nav-serparator {
    margin-top: 0px !important;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
        margin-top: 0px !important;
    }

    #search-form {
        width: 100%;
    }

    .navbar .title-navbar {
        margin-left: auto;
        margin-right: auto;
    }
}